<%- include("./parts/header.ejs")  %>
<% var data = data || [] %> 
<% var book %> 


<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="img/hero.jpg">
    <form class="d-flex tm-search-form">
        <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success tm-search-btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>

<div class="container-fluid tm-container-content tm-mt-60">
    <div class="row mb-4">
        <h2 class="col-12 tm-text-primary"><%= book.name %> </h2>
    </div>
    <div class="row tm-mb-90">            
        <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <img src="uploads/<%= book._id + "." + book.photo_ext %>" alt="Image" class="img-fluid">
        </div>
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
            <div class="tm-bg-gray tm-video-details">
                <p class="mb-4">
                    Please support us by making <a href="https://paypal.me/templatemo" target="_parent" rel="sponsored">a PayPal donation</a>. Nam ex nibh, efficitur eget libero ut, placerat aliquet justo. Cras nec varius leo.
                </p>
                <div class="text-center mb-5">
                    <a href="#" class="btn btn-primary tm-btn-big">Download</a>
                </div>                    
                <div class="mb-4 d-flex flex-wrap">
                    <div class="mr-4 mb-2">
                        <span class="tm-text-gray-dark">Dimension: </span><span class="tm-text-primary">1920x1080</span>
                    </div>
                    <div class="mr-4 mb-2">
                        <span class="tm-text-gray-dark">Format: </span><span class="tm-text-primary">JPG</span>
                    </div>
                </div>
                <div class="mb-4">
                    <h3 class="tm-text-gray-dark mb-3">License</h3>
                    <p>Free for both personal and commercial use. No need to pay anything. No need to make any attribution.</p>
                </div>
                <div>
                    <h3 class="tm-text-gray-dark mb-3">Tags</h3>
                    <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Cloud</a>
                    <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Bluesky</a>
                    <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Nature</a>
                    <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Background</a>
                    <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Timelapse</a>
                    <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Night</a>
                    <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Real Estate</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <h2 class="col-12 tm-text-primary">
            Related Photos
        </h2>
    </div>
    <div class="row mb-3 tm-gallery">
        <% for (let book of data.reverse()) { %>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
   
                 
                    <figure class=" effect-ming tm-video-item">
                        <img src="uploads/<%= book._id + "." + book.photo_ext %> " class="img-fluid" alt="Image"
                            style="object-fit: cover; max-width:100%; height: 220px;">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2><%= book.name %>
                            </h2>
                        </figcaption>
                    </figure> 
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-text-gray-light"><%= book.datetime %> </span>
                    <span>Price: <%= book.price %> soum </span>
                </div>
   
                <form class="form">
                   <button type="submit"  data-id="<%= book._id%>" class="btn btn-primary load_button mt-2 mb-2">
                       Buy now
                   </button> 
                </form>
                <div class="info mt-2 mb-2" style="height: 150px; overflow: hidden;">
                    <h6 class="text-center mt-2">
                        <%= book.name %>
                    </h6> 
                </div>
            </div>
            <% } %>      
    </div> <!-- row -->
</div> <!-- container-fluid, tm-container-content -->



<%- include("./parts/footer.ejs")  %> 